
html {
  background: url(../img/background5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Calabria", sans-serif;
  color: white;
}

.prof-box {
    width: 400px;
    height: 550px;
    background: rgba(0,0,0,.4);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

.prof-pic {
    border-radius: 40%;
    height: 200px;
    width: 270px;
}

h1 {
    font-weight: 100px;
    letter-spacing: 6;
    font-size: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;

}
.social-icons a {
    color: white;
    padding: 10px;
}

.social-icons a:hover {
    background: rgba(0,0,0,.4);
}

.linkedin {
    height: 50px;
    width: 50px;
}

.treehouse {
    height: 50px;
    width: 60px;
}

.line-break {
    width: 400px;
    border-top: 1px solid white;
    margin: 0 auto;
}

/*---------------- Body _________*/
.snapshot {
    height: 300px;
    width: 400px;
}


/*--------NAVIGATION------*/
nav a:hover {
    background: rgba(0,0,0,.4);
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    //padding: 40px;
    justify-content: center;
    margin: 0 auto;
    //margin-right: 50px;
    color: white;
}

nav li a {
    padding: 10px;
    display: block;
    color: pink;
}
/*--------NAVIGATION------*/


/*-------------- Media Queries -----------------*/
/*---- small screens ----*/
/*------ Switching from device specific to CONTENT SPECIFIC ------ */
@media only screen and (max-width: 570px) {
    html {
        padding:0;
        margin: 0;
    }
    body {
    //background: #E4E4E4;
    height:100%;
    width:100%;
}

    .flex-grid {
        display: block;
    }
    .nav-container {
        //width: 70%;
        //height: 40px;
        display: block;
        flex-direction: row;
        justify-content: center;
        background: rgba(0,0,0,.4);
        //padding: 40px;
        text-color: white;
        margin: 100px;
        margin-top: 0;
        text-align: center;
}
/*
.about-container{
    display: block;
    background: white;
    width:80%;
    margin: 0 auto;
    position: relative;
    padding: 5px 5px 5px;
}
*/
p {


}

@media only screen and (min-width: 850px) {
    p {
        font-color: red;
    }
}

@media only screen and (min-width: 1140px) {
    p {
        font-color: green;
    }
}


/*----------- CREATING  THE 5 MAIN FLEXBOXES -------*/
/*---ABOUT---*/
.about-container {
    display: flex;
    background: rgba(0,0,0,.4);
    color: white;
    margin: 40px;
    text-align: center;
    padding: 30px;
}
.degree {
    width: 300px;
    height: 300px;
}
.grad {
    width: 300px;
    height: 400px;
}
/*------ABOUT----*/

/*-------EDUCATION-----*/
.education-container {
    display: flex;
    background: rgba(0,0,0,.4);
    color: white;
    margin: 40px;
    text-align: center;
    padding: 30px;
}
/*-------EDUCATION-----*/

/*-------SKILLS-----*/
.skills-container {
    display: flex;
    background: rgba(0,0,0,.4);
    color: white;
    margin: 40px;
    text-align: center;
    padding: 30px;
}
/*-------SKILLS-----*/

/*-------EXPERIENCE-----*/
.experience-container {
    display: flex;
    background: rgba(0,0,0,.4);
    color: white;
    margin: 40px;
    text-align: center;
    padding: 30px;
}
/*-------EXPERIENCE-----*/

/*-------EMPLOYMENT-----*/
.employment-container {
    display: flex;
    background: rgba(0,0,0,.4);
    color: white;
    margin: 40px;
    text-align: center;
    padding: 30px;
}
/*-------EMPLOYMENT-----*/
