
html {
  background: url(../img/background5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Calabria", sans-serif;
}

.prof-box {
    width: 400px;
    height: 550px;
    background: rgba(0,0,0,.4);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

.prof-pic {
    border-radius: 40%;
    height: 200px;
    width: 270px;
}

h1 {
    font-weight: 100px;
    letter-spacing: 6;
    font-size: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;

}
.social-icons a {
    color: white;
    padding: 10px;
}

.linkedin {
    height: 40px;
    width: 40px;
}

.treehouse {
    height: 40px;
    width: 50px;
}

.line-break {
    width: 400px;
    border-top: 1px solid white;
    margin: 0 auto;
}
